<mat-card elevation="5" fxFlex class="content">
    <mat-card-title>
        <h2>Profile</h2>
    </mat-card-title>
    <mat-card-content>
        <p></p>
        <form>
            <div class="row">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput name="name" [(ngModel)]="name">
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Surname</mat-label>
                        <input matInput name="surname" [(ngModel)]="surname">
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Address</mat-label>
                        <input matInput name="address" [(ngModel)]="address">
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>City</mat-label>
                        <input matInput name="city" [(ngModel)]="city">
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Country</mat-label>
                        <input matInput name="country" [(ngModel)]="country">
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Phone</mat-label>
                        <input matInput name="phone" [(ngModel)]="phone">
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Occupation</mat-label>
                        <input matInput name="occupation" [(ngModel)]="occupation">
                    </mat-form-field>
                    <div></div>
                    <button mat-flat-button color="primary" (click)="save()">
                        Save
                    </button>
                    <div></div>
                    <button mat-flat-button color="primary" (click)="cancel()">
                        Cancel
                    </button>
                    <div></div>
            </div>
        </form>
    </mat-card-content>
</mat-card>