<mat-card>
    <mat-card-title>
        <h1>Personal file</h1>
    </mat-card-title>
    <mat-card-content>
        <form>
           <div class = "row">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Full name</mat-label>
                        <input matInput placeholder="Enter full name" name="fullName" [(ngModel)]="fullName">
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Personal ID</mat-label>
                        <input matInput placeholder="Enter personal ID no." name="jmbg" [(ngModel)]="jmbg">
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Address</mat-label>
                        <input matInput placeholder="Enter your address" name="address" [(ngModel)]="address">
                    </mat-form-field>
                    <div></div>
                      <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Phone</mat-label>
                        <input matInput placeholder="Enter your phone no." name="phone" [(ngModel)]="phone">
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Company</mat-label>
                        <input matInput placeholder="Enter your company name" name="company" [(ngModel)]="company">
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Occupation</mat-label>
                        <input matInput placeholder="Enter your occupation" name="occupation" [(ngModel)]="occupation">
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        Previous donations
                        <input matInput placeholder="Enter no. of previous donations" name="previousDonationsNo" [(ngModel)]="previousDonationsNo">
                    </mat-form-field>
                    <div></div>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <input type = "checkbox" matInputPlaceholder ="false" enabled = "true" name="alreadyDonated" [(ngModel)]="alreadyDonated">
                        Did you donate previously?
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <input type = "checkbox" matInputPlaceholder ="false" name="donationRefused" [(ngModel)]="donationRefused">
                        Was your donation ever refused?
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <input type = "checkbox" matInputPlaceholder ="false" name="dangerousOccupation" [(ngModel)]="dangerousOccupation">
                        Do you have a dangerous occupation/hobby
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <input type = "checkbox" matInputPlaceholder ="false" name="prescriptionMeds" [(ngModel)]="prescriptionMeds">
                        Do you take any prescription meds?
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <input type = "checkbox" matInputPlaceholder ="false" name="allergies" [(ngModel)]="allergies">
                        Do you have any allergies?
                    </mat-form-field>
                    <div></div>
                    <mat-form-field class="full-width" appearance="fill">
                        <input type = "checkbox" matInputPlaceholder ="false" name="chronicIllness" [(ngModel)]="chronicIllness">
                        Do you have any chronic conditions?
                    </mat-form-field>
                    <div></div>
                    <!--<mat-form-field>
                        <input type = "checkbox" matInputPlaceholder ="false" name="termsAndConditions" [(ngModel)]="termsAndConditions">
                            I AGREE TO TERMS AND CONDITIONS
                    </mat-form-field>-->
                    <div></div>
                    <button style="width: 50%;" mat-raised-button color="primary" (click)="submit()">Submit</button>
           </div> 
        </form>
    </mat-card-content>
</mat-card>