<mat-card fxFlex class="content">
    <mat-card-title>
        <h2>Scheduled Appointments</h2>
    </mat-card-title>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="centerName">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> Center Name </th>
                <td mat-cell *matCellDef="let appointment" class="cell-center">{{appointment.centerName}}</td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> Date </th>
                <td mat-cell *matCellDef="let appointment" class="cell-center">{{appointment.date}}</td>
            </ng-container>
            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> Time </th>
                <td mat-cell *matCellDef="let appointment" class="cell-center">{{appointment.time}}</td>
            </ng-container>
            <ng-container matColumnDef="cancel">
                <th mat-header-cell *matHeaderCellDef class="cell-center">Cancel Appointment</th>
                <td mat-cell *matCellDef="let appointment" class="cell-center">
                    <button class="cancelButton" mat-raised-button (click)="cancel(appointment.id)">Cancel</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>